@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#root {
  width: 100%;
}

.mod-codes-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media (min-width: 640px) {
  .mod-codes-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .mod-codes-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .mod-codes-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}